results/
data/*.npy
wandb/
__pycache__/
*.xdmf
*.h5
*.dat
*.npy
torch_test.ipynb

api_key.txt
tea_debug.log

models_T1000_h0
models_T1_hsin
models_T1_hsin_var
# vpinn\vpinn_code\models_T1_hsin_var

# pinnhp .gitignore
.venv
.idea
results
results_1D
results_2D
# **/__pycache__
pinn_env
